# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/examples/test/
.imdone/
.sass-cache/
.todo
.gitignore
.github
.DS_Store
Thumbs.db
.svn/
npm-debug.log
*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
*.swp
*.swo
*.log
.project
.*proj
assets/build