{
    "env": {
        "module": {
            "presets": [
                "es2015"
            ]
        },
        "webpack": {
            "presets": [
                "es2015-webpack"
            ]
        }
    }
}
